In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("isa_sample_1M.csv")

In [14]:
df

,Unnamed: 0,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,f6c207e75c1cc61bcda3636606a6118c,2022-04-18,2022-05-30,ORD,SFO,MAA0OKEY,PT4H32M,0,False,...,1653949020,2022-05-30T15:17:00.000-07:00,SFO,ORD,United,UA,Boeing 787-8,16320,1847,coach
999996,999996,de6456e27327c6698afe5853739221d3,2022-04-18,2022-05-30,ORD,SFO,MAA0OKEY,PT4H46M,0,False,...,1653970260,2022-05-30T21:11:00.000-07:00,SFO,ORD,United,UA,Boeing 737-900,17160,1847,coach
999997,999997,06478f81a4dbdc84faab635a6efbd8d8,2022-04-18,2022-05-30,ORD,SFO,BAA0AFEN,PT4H45M,0,False,...,1653955500,2022-05-30T17:05:00.000-07:00,SFO,ORD,United,UA,Boeing 737-900,17100,1847,premium coach
999998,999998,a1d867a12c631f41562ec88e4fbe9f1c,2022-04-18,2022-05-30,ORD,SFO,YAA0AFEY,PT4H37M,0,False,...,1653929220,2022-05-30T09:47:00.000-07:00,SFO,ORD,United,UA,Boeing 737-900,16620,1847,coach
999999,999999,b3972452c388f0f3222177e0fc084f47,2022-04-18,2022-05-30,ORD,SFO,YA2AA,PT6H23M,0,False,...,1653932760||1653940140,2022-05-30T10:46:00.000-07:00||2022-05-30T12:4...,SNA||SFO,ORD||SNA,Alaska Airlines||Alaska Airlines,AS||AS,Boeing 737 MAX 8||Embraer 175,15600||5040,1726||373,coach||coach

In [15]:
df.columns

Index(['Unnamed: 0', 'legId', 'searchDate', 'flightDate', 'startingAirport',
       'destinationAirport', 'fareBasisCode', 'travelDuration', 'elapsedDays',
       'isBasicEconomy', 'isRefundable', 'isNonStop', 'baseFare', 'totalFare',
       'seatsRemaining', 'totalTravelDistance',
       'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw',
       'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw',
       'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode',
       'segmentsAirlineName', 'segmentsAirlineCode',
       'segmentsEquipmentDescription', 'segmentsDurationInSeconds',
       'segmentsDistance', 'segmentsCabinCode'],
      dtype='object')

In [23]:
df.describe()

,Unnamed: 0,elapsedDays,baseFare,totalFare,seatsRemaining,totalTravelDistance
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,938140.000000
mean,499999.500000,0.146697,301.229207,349.399638,5.633169,1579.061214
std,288675.278932,0.353809,219.604600,235.770334,2.959412,836.193518
min,0.000000,0.000000,5.100000,23.970000,0.000000,97.000000
25%,249999.750000,0.000000,161.860000,198.600000,3.000000,872.000000
50%,499999.500000,0.000000,264.190000,308.600000,7.000000,1398.000000
75%,749999.250000,0.000000,392.560000,447.200000,8.000000,2358.000000
max,999999.000000,2.000000,3531.160000,3810.600000,10.000000,3958.000000

In [32]:
df['segmentsCabinCode']

0                 coach
1                 coach
2                 coach
3                 coach
4                 coach
              ...
999995            coach
999996            coach
999997    premium coach
999998            coach
999999     coach||coach
Name: segmentsCabinCode, Length: 1000000, dtype: object

In [36]:
df['cabin_class'] = df['segmentsCabinCode'].str.split('||').str[0]

In [35]:
df['cabin_class']

0
1
2
3
4
         ..
999995
999996
999997
999998
999999
Name: cabin_class, Length: 1000000, dtype: object

In [38]:
df['cabin_class'].value_counts()

cabin_class
    1000000
Name: count, dtype: int64

In [33]:
df['totalFare']

0          248.6
1          248.6
2          248.6
3          248.6
4          248.6
           ...
999995     798.6
999996     798.6
999997    1078.6
999998    1528.6
999999    2384.0
Name: totalFare, Length: 1000000, dtype: float64